<div class="px-3 py-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="{% url 'classapp:post_list' %}" class="nav-link text-secondary">
                Home
              </a>
            </li>
            <li>
              <a href="{% url 'classapp:dashboard_redirect' %}" class="nav-link text-white">
                Dashboard
              </a>
            </li>
          {% if not request.user.is_authenticated %}
              <li>
                  <a href="{% url 'classapp:login_redirect' %}" class="nav-link text-white">
                    login
                  </a>
              </li>
              <li>
                  <a href="{% url 'classapp:registration_redirect' %}" class="nav-link text-white">
                    registration
                  </a>
              </li>

          {% endif %}

            {% if request.user.is_authenticated %}
                <li>
                  <a href="{% url 'classapp:logout_redirect' %}" class="nav-link text-white">
                    logout
                  </a>
                </li>
            {% endif %}


            <li>
              <a href=" " class="nav-link text-white">
                API
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>